.header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
  background-color: white;
  transition: box-shadow 0.25s ease-in-out;
}

.chats-body {
  padding: 10px 0px;
  padding-top: 130px;
  background-image: url("../images/chatBg.png");
  min-height: 1000vh;
}

.chat .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.chat__messages .chat__timestamp {
  padding: 5px 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px;
  border-radius: 10px;
}

.message {
  display: flex;
  margin-bottom: 20px;
}

.chat .chat__incoming-message {
  align-self: flex-start;
}

.chat .chat__sent-message {
  align-self: flex-end;
}

@keyframes avatar-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.message .message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  animation: avatar-float 3s linear infinite;
}

.message .message__content {
  display: flex;
  flex-direction: column;
}

@keyframes bubble-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.message__content .message__bubble {
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}

.message__content .message__bubble:hover {
  animation: bubble-float 2s linear infinite;
}

.chat__incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
}

.chat__sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}

.message__content .message__author {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
}

.chat__write-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes input-float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write-container .chat__write {
  margin: 0 auto;
  width: 100%;
  padding: 20px 60px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: input-float 2s linear infinite forwards;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}
