.nav {
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list-item {
  position: relative;
}

.nav i {
  font-size: 20px;
}

@keyframes badge-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav__list-link .nav__badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 15px;
  height: 15px;
  top: -5px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  animation: badge-float 1.5s linear infinite;
}
