.settings__list:not(:first-child) {
  border-top: 1px solid rgba(114, 114, 114, 0.1);
  padding-top: 30px;
}

.settings__setting {
  margin-bottom: 30px;
  cursor: pointer;
}

.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 20px;
}

.settings__setting .settings__title {
  font-size: 22px;
  font-weight: 300;
}

.settings__setting .settings__description {
  display: block;
  margin-left: 45px;
  margin-top: 15px;
  opacity: 0.5;
}
